{% extends 'main.html' %}
{% block title %}<title>Смена пароля</title>{% endblock %}
{% block keywords %}
<meta name="keywords" content="Смена пароля" />
{% endblock %}
{% block content %}
    <h1>Новый пароль</h1>
    {% if validlink %}
        <p>Подтвердите пароль:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}