{% extends 'main.html' %}
{% block title %}<title>Восстановление пароля</title>{% endblock %}
{% block keywords %}
<meta name="keywords" content="восстановление пароля, восстановить, пароль, пользователь" />
{% endblock %}
{% block content %}
        <h2>Восстановление пароля</h2>
			<br />
			<br />
        <form name ="reset" action="" method="POST" >
                {% csrf_token %}
				{% if login_form.errors %}
					<p>Некорректный ввод!</p>
				{% endif %}
						{{ login_form.email.label }}:
						{{ login_form.email }}
						<input type="submit" value="Восстановить пароль">
						<br />
						<br />
					</form>
{% endblock %}