{% extends 'main.html' %}
{% block title %} <title>О нас</title>{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block keywords %}
		<meta name="keywords" content="птицы, сайт птицы, статьи, описание" />
	{% endblock  %}
{% block content %}
    <div class="about">
		<!-- container -->
		<div class="container">
			<div class="history">
				<div class="col-md-5 history-left">
					<img src="static/images/5.jpg" al="" />
				</div>
				<div class="col-md-7 history-right">
					<h3>Наш сайт</h3>
					<p> Этот сайт задуман, как научно-практический справочник для владельцев пернатых питомцев. Авторы этого сайта - ветеринарные врачи, биологи, орнитологи и зооинженеры, профессионально занимающиеся птицами и искренне их любящие. Очень часто мы сталкиваемся с плачевными результатами низкой культуры содержания и разведения птиц в условиях неволи. Мы хотим помочь всем интересующимся птицами создать для них максимально комфортную жизнь. Все материалы, представленные на сайте, являются отображением нашего собственного опыта, либо основаны на анализе серьезных, литературных источников.
    В России певчих и декоративных птиц держат издавна, и традиции сложились вековые. Есть очень много литературы по вопросам птицеловства, содержания и разведения птиц. Однако, с одной стороны, большинство этих изданий стали уже библиографической редкостью (имеются в виду действительно хорошие руководства), а с другой, хоть и не потеряли своей актуальности, но морально устарели. За прошедшие два десятилетия, открыто и накоплено много новых фактов в самых разных, зачастую, казалось бы, не имеющих никакого отношения к содержанию птиц, областях человеческого знания: ветеринарии, фармацевтике, различных отраслях промышленности, наконец, в экологии и орнитологии.</p>
					<p>Сейчас стало возможным приобрести достаточно редких и экзотических птиц, которых раньше в стране, кроме как в коллекциях зоопарков, не было, и, соответственно, общедоступной литературы на русском языке по содержанию таких птиц просто нет. Поэтому остро встает вопрос об обеспечении владельцев птиц необходимой информацией.
                        Культура содержания животных, и в частности птиц, в настоящее время очень низка, если о таковой вообще можно говорить. Именно культура содержания определяет качество и продолжительность жизни птицы в условиях неволи.
                        Зачастую приобретение птицы происходит достаточно спонтанно и необдуманно. Люди начинают искать информацию о содержании птицы уже после её приобретения, начиная эти поиски, владельцы наталкиваются на информацию содержащую мифы, а то и просто вредную для здоровья птицы.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="team">
				<h3>Наша команда</h3>
				<div class="team-grids">
					<div class="col-md-3 team-grid">
						<img src="static/images/t1.jpg" al="" />
						<h5>Светлана</h5>
						<p>Автор</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="static/images/t3.jpg" al="" />
						<h5></h5>
						<h5>Ануар</h5>
						<p>Автор</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="static/images/t2.jpg" al="" />
						<h5>Карлыгаш</h5>
						<p>Автор</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="static/images/t4.jpg" al="" />
						<h5>Джим</h5>
						<p>Автор</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>

{% endblock %}
